body {
  background-color: #eeeeee;
  color: #030303;
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px;
}

.content {
  background-color: #030303;
  color: #eeeeee;
  display: flex;
  padding: 15px;
}

/*img{
  content-width: 60px;
  content-height: 30px;
}
*/

.thumbnail {
  padding-bottom: 25px;
  padding-top: 25px;
  border-width: thin red;
}

p {
  margin: 0 15px;
}
